<a href="https://colab.research.google.com/github/tuananhnguyen512/AI2023_class/blob/main/AI_w8_24_3_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import Perceptron
x=[[0,0],[1,0],[0,1],[1,1]]
y=[0,1,1,1]
model=Perceptron()
model.fit(x,y)
model.score(x,y)
x1=[[0.5,0],[0,0.5],[0.6,0],[0,0.6],[-10,2],[0.1,1],[-0.3,4]]
y1=model.predict(x1)

In [ ]:
x2=[[-0.5,-0.5],[-0.5,0.5],[0.3,-0.5],[-0.1,1]]
y2=[1,1,0,0]
model=Perceptron()
model.fit(x2,y2)
model.score(x2,y2)

1.0

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
iris=datasets.load_iris()
x=iris.data
y=iris.target
print(x[:5])
print(y[:5])
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[0 0 0 0 0]

In [ ]:
sc=StandardScaler()
sc.fit(x_train)
x_train_std=sc.transform(x_train)
x_test_std=sc.transform(x_test)
print(x_train,x_train_std)

[[5.9 3.  5.1 1.8]
 [7.2 3.2 6.  1.8]
 [5.5 3.5 1.3 0.2]
 [7.3 2.9 6.3 1.8]
 [4.5 2.3 1.3 0.3]
 [5.1 3.4 1.5 0.2]
 [6.3 3.3 6.  2.5]
 [4.4 3.2 1.3 0.2]
 [6.3 2.3 4.4 1.3]
 [4.6 3.2 1.4 0.2]
 [7.9 3.8 6.4 2. ]
 [4.4 2.9 1.4 0.2]
 [5.2 3.4 1.4 0.2]
 [5.4 3.  4.5 1.5]
 [6.2 2.2 4.5 1.5]
 [6.7 3.  5.2 2.3]
 [7.7 3.  6.1 2.3]
 [5.7 2.9 4.2 1.3]
 [5.8 2.7 3.9 1.2]
 [4.9 2.4 3.3 1. ]
 [7.2 3.6 6.1 2.5]
 [5.8 4.  1.2 0.2]
 [6.3 2.8 5.1 1.5]
 [6.4 3.2 4.5 1.5]
 [6.2 2.8 4.8 1.8]
 [6.  2.2 5.  1.5]
 [6.3 2.5 5.  1.9]
 [5.  2.3 3.3 1. ]
 [5.8 2.8 5.1 2.4]
 [6.5 3.2 5.1 2. ]
 [6.9 3.1 5.4 2.1]
 [5.2 3.5 1.5 0.2]
 [6.1 2.8 4.  1.3]
 [6.6 2.9 4.6 1.3]
 [6.2 3.4 5.4 2.3]
 [6.3 2.5 4.9 1.5]
 [7.4 2.8 6.1 1.9]
 [6.2 2.9 4.3 1.3]
 [5.7 2.5 5.  2. ]
 [6.1 2.9 4.7 1.4]
 [4.8 3.4 1.6 0.2]
 [5.4 3.4 1.7 0.2]
 [5.2 4.1 1.5 0.1]
 [5.1 2.5 3.  1.1]
 [5.1 3.3 1.7 0.5]
 [5.  3.5 1.6 0.6]
 [5.8 2.7 5.1 1.9]
 [5.8 2.6 4.  1.2]
 [4.4 3.  1.3 0.2]
 [5.7 2.8 4.5 1.3]
 [5.5 2.6 4.4 1.2]
 [5.  3.2 1.2 0.2]
 [5.1 3.5 1.4 0.3]
 [6.  2.9 4.5 1.5]
 [5.7 2.8 4.1 1.3]
 [5.5 2.4 3.7 1. ]
 [5.1 3.8 1.6 0.2]
 [6.7 2.5 5.8 1.8]
 [5.  3.  1.6 0.2]
 [5.4 3.9 1.7 0.4]
 [6.  3.  4.8 1.8]
 [6.1 2.8 4.7 1.2]
 [5.6 2.5 3.9 1.1]
 [7.7 2.8 6.7 2. ]
 [6.  2.2 4.  1. ]
 [6.  3.4 4.5 1.6]
 [6.4 2.8 5.6 2.2]
 [5.8 2.7 4.1 1. ]
 [5.4 3.9 1.3 0.4]
 [4.8 3.  1.4 0.1]
 [4.8 3.1 1.6 0.2]
 [6.4 2.9 4.3 1.3]
 [5.  3.4 1.6 0.4]
 [4.9 3.1 1.5 0.2]
 [5.6 2.8 4.9 2. ]
 [6.5 3.  5.5 1.8]
 [7.1 3.  5.9 2.1]
 [5.6 3.  4.1 1.3]
 [6.9 3.1 4.9 1.5]
 [5.1 3.5 1.4 0.2]
 [5.4 3.7 1.5 0.2]
 [6.7 3.1 4.7 1.5]
 [5.9 3.2 4.8 1.8]
 [5.6 2.7 4.2 1.3]
 [6.3 2.7 4.9 1.8]
 [5.4 3.4 1.5 0.4]
 [6.5 3.  5.8 2.2]
 [5.  3.5 1.3 0.3]
 [4.6 3.4 1.4 0.3]
 [5.2 2.7 3.9 1.4]
 [5.5 4.2 1.4 0.2]
 [5.  3.4 1.5 0.2]
 [6.7 3.1 5.6 2.4]
 [4.9 3.1 1.5 0.1]
 [4.9 3.6 1.4 0.1]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.1]
 [7.6 3.  6.6 2.1]
 [6.8 3.  5.5 2.1]
 [7.2 3.  5.8 1.6]
 [6.  2.7 5.1 1.6]
 [6.1 2.6 5.6 1.4]
 [6.3 3.3 4.7 1.6]
 [6.5 2.8 4.6 1.5]
 [4.9 2.5 4.5 1.7]] [[ 0.05599611 -0.07606169  0.7432581   0.79683889]
 [ 1.64838544  0.39373109  1.25669297  0.79683889]
 [-0.43396984  1.09842026 -1.42457802 -1.34164248]
 [ 1.77087693 -0.31095808  1.42783793  0.79683889]
 [-1.65888471 -1.72033642 -1.42457802 -1.20798739]
 [-0.92393579  0.86352387 -1.31048139 -1.34164248]
 [ 0.54596206  0.62862748  1.25669297  1.73242449]
 [-1.7813762   0.39373109 -1.42457802 -1.34164248]
 [ 0.54596206 -1.72033642  0.34391987  0.12856346]
 [-1.53639322  0.39373109 -1.36752971 -1.34164248]
 [ 2.50582585  1.80310943  1.48488625  1.06414906]
 [-1.7813762  -0.31095808 -1.36752971 -1.34164248]
 [-0.8014443   0.86352387 -1.36752971 -1.34164248]
 [-0.55646133 -0.07606169  0.40096819  0.39587363]
 [ 0.42347057 -1.95523281  0.40096819  0.39587363]
 [ 1.03592801 -0.07606169  0.80030642  1.46511432]
 [ 2.26084288 -0.07606169  1.31374129  1.46511432]
 [-0.18898687 -0.31095808  0.22982323  0.12856346]
 [-0.06649538 -0.78075086  0.05867827 -0.00509162]
 [-1.16891876 -1.48544003 -0.28361164 -0.27240179]
 [ 1.64838544  1.33331665  1.31374129  1.73242449]
 [-0.06649538  2.27290221 -1.48162634 -1.34164248]
 [ 0.54596206 -0.54585447  0.7432581   0.39587363]
 [ 0.66845354  0.39373109  0.40096819  0.39587363]
 [ 0.42347057 -0.54585447  0.57211314  0.79683889]
 [ 0.1784876  -1.95523281  0.68620978  0.39587363]
 [ 0.54596206 -1.25054364  0.68620978  0.93049398]
 [-1.04642728 -1.72033642 -0.28361164 -0.27240179]
 [-0.06649538 -0.54585447  0.7432581   1.5987694 ]
 [ 0.79094503  0.39373109  0.7432581   1.06414906]
 [ 1.28091098  0.1588347   0.91440306  1.19780415]
 [-0.8014443   1.09842026 -1.31048139 -1.34164248]
 [ 0.30097908 -0.54585447  0.11572659  0.12856346]
 [ 0.91343652 -0.31095808  0.4580165   0.12856346]
 [ 0.42347057  0.86352387  0.91440306  1.46511432]
 [ 0.54596206 -1.25054364  0.62916146  0.39587363]
 [ 1.89336842 -0.54585447  1.31374129  0.93049398]
 [ 0.42347057 -0.31095808  0.28687155  0.12856346]
 [-0.18898687 -1.25054364  0.68620978  1.06414906]
 [ 0.30097908 -0.31095808  0.51506482  0.26221855]
 [-1.29141025  0.86352387 -1.25343307 -1.34164248]
 [-0.55646133  0.86352387 -1.19638475 -1.34164248]
 [-0.8014443   2.5077986  -1.31048139 -1.47529756]
 [-0.92393579 -1.25054364 -0.4547566  -0.13874671]
 [-0.92393579  0.62862748 -1.19638475 -0.94067722]
 [-1.04642728  1.09842026 -1.25343307 -0.80702214]
 [-0.06649538 -0.78075086  0.7432581   0.93049398]
 [-0.06649538 -1.01564725  0.11572659 -0.00509162]
 [-1.7813762  -0.07606169 -1.42457802 -1.34164248]
 [-0.18898687 -0.54585447  0.40096819  0.12856346]
 [-0.43396984 -1.01564725  0.34391987 -0.00509162]
 [-1.04642728  0.39373109 -1.48162634 -1.34164248]
 [-0.92393579  1.09842026 -1.36752971 -1.20798739]
 [ 0.1784876  -0.31095808  0.40096819  0.39587363]
 [-0.18898687 -0.54585447  0.17277491  0.12856346]
 [-0.43396984 -1.48544003 -0.05541837 -0.27240179]
 [-0.92393579  1.80310943 -1.25343307 -1.34164248]
 [ 1.03592801 -1.25054364  1.14259633  0.79683889]
 [-1.04642728 -0.07606169 -1.25343307 -1.34164248]
 [-0.55646133  2.03800582 -1.19638475 -1.07433231]
 [ 0.1784876  -0.07606169  0.57211314  0.79683889]
 [ 0.30097908 -0.54585447  0.51506482 -0.00509162]
 [-0.31147835 -1.25054364  0.05867827 -0.13874671]
 [ 2.26084288 -0.54585447  1.6560312   1.06414906]
 [ 0.1784876  -1.95523281  0.11572659 -0.27240179]
 [ 0.1784876   0.86352387  0.40096819  0.52952872]
 [ 0.66845354 -0.54585447  1.0284997   1.33145923]
 [-0.06649538 -0.78075086  0.17277491 -0.27240179]
 [-0.55646133  2.03800582 -1.42457802 -1.07433231]
 [-1.29141025 -0.07606169 -1.36752971 -1.47529756]
 [-1.29141025  0.1588347  -1.25343307 -1.34164248]
 [ 0.66845354 -0.31095808  0.28687155  0.12856346]
 [-1.04642728  0.86352387 -1.25343307 -1.07433231]
 [-1.16891876  0.1588347  -1.31048139 -1.34164248]
 [-0.31147835 -0.54585447  0.62916146  1.06414906]
 [ 0.79094503 -0.07606169  0.97145138  0.79683889]
 [ 1.52589395 -0.07606169  1.19964465  1.19780415]
 [-0.31147835 -0.07606169  0.17277491  0.12856346]
 [ 1.28091098  0.1588347   0.62916146  0.39587363]
 [-0.92393579  1.09842026 -1.36752971 -1.34164248]
 [-0.55646133  1.56821304 -1.31048139 -1.34164248]
 [ 1.03592801  0.1588347   0.51506482  0.39587363]
 [ 0.05599611  0.39373109  0.57211314  0.79683889]
 [-0.31147835 -0.78075086  0.22982323  0.12856346]
 [ 0.54596206 -0.78075086  0.62916146  0.79683889]
 [-0.55646133  0.86352387 -1.31048139 -1.07433231]
 [ 0.79094503 -0.07606169  1.14259633  1.33145923]
 [-1.04642728  1.09842026 -1.42457802 -1.20798739]
 [-1.53639322  0.86352387 -1.36752971 -1.20798739]
 [-0.8014443  -0.78075086  0.05867827  0.26221855]
 [-0.43396984  2.74269499 -1.36752971 -1.34164248]
 [-1.04642728  0.86352387 -1.31048139 -1.34164248]
 [ 1.03592801  0.1588347   1.0284997   1.5987694 ]
 [-1.16891876  0.1588347  -1.31048139 -1.47529756]
 [-1.16891876  1.33331665 -1.36752971 -1.47529756]
 [ 1.15841949  0.39373109  1.19964465  1.46511432]
 [ 1.03592801  0.62862748  1.08554801  1.19780415]
 [ 2.13835139 -0.07606169  1.59898289  1.19780415]
 [ 1.15841949 -0.07606169  0.97145138  1.19780415]
 [ 1.64838544 -0.07606169  1.14259633  0.52952872]
 [ 0.1784876  -0.78075086  0.7432581   0.52952872]
 [ 0.30097908 -1.01564725  1.0284997   0.26221855]
 [ 0.54596206  0.62862748  0.51506482  0.52952872]
 [ 0.79094503 -0.54585447  0.4580165   0.39587363]
 [-1.16891876 -1.25054364  0.40096819  0.66318381]]

In [ ]:
#khong scale
model=Perceptron(max_iter=1000,eta0=0.5,random_state=0)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)
print(y_test)
print('do chinh xac mo hinh chua scale:',accuracy_score(y_test,y_pred))

[2 0 2 0 2 0 0 0 2 2 2 0 2 0 2 2 0 2 2 2 0 2 0 0 0 2 0 0 0 2 2 2 0 0 2 2 0
 2 2 0 0 2 2 0 2]
[2 0 1 0 2 0 0 1 2 2 2 0 1 1 2 2 1 1 2 2 0 2 0 0 0 2 0 1 0 1 1 1 0 0 2 1 0
 1 1 1 0 2 2 0 1]
do chinh xac mo hinh chua scale: 0.6666666666666666

In [ ]:
model=Perceptron(max_iter=10000,eta0=0.5,random_state=0)
model.fit(x_train,y_train)
y_pred=model.predict(x_test_std)
print(y_pred)
print(y_test)
print('do chinh xac mo hinh chua scale:',accuracy_score(y_test,y_pred))

[2 1 2 1 2 1 1 1 2 2 2 0 1 1 2 2 1 1 2 2 0 2 1 1 0 2 1 1 0 1 2 1 1 0 2 2 0
 2 1 0 0 2 2 0 1]
[2 0 1 0 2 0 0 1 2 2 2 0 1 1 2 2 1 1 2 2 0 2 0 0 0 2 0 1 0 1 1 1 0 0 2 1 0
 1 1 1 0 2 2 0 1]
do chinh xac mo hinh chua scale: 0.7111111111111111

In [ ]:
import pandas as pd
# create url
url = '/content/crabs.csv'
# load data
data = pd.read_csv(url)
# show data
data.head()

  speies sex  index  fontallip  rearwidth  length  width  depth
0      B   M      1        8.1        6.7    16.1   19.0    7.0
1      B   M      2        8.8        7.7    18.1   20.8    7.4
2      B   M      3        9.2        7.8    19.0   22.4    7.7
3      B   M      4        9.6        7.9    20.1   23.1    8.2
4      B   M      5        9.8        8.0    20.3   23.0    8.2

In [ ]:
x=data['speies'].replace('B','0').head()
y=data['sex'].replace('M','1').head()

0    1
1    1
2    1
3    1
4    1
Name: sex, dtype: object

In [ ]:

data['speies'].replace(['B','0'],inplace=True)
data['sex'].replace(['M','1'],inplace=True)
data

    speies sex  index  fontallip  rearwidth  length  width  depth
0        B   M      1        8.1        6.7    16.1   19.0    7.0
1        B   M      2        8.8        7.7    18.1   20.8    7.4
2        B   M      3        9.2        7.8    19.0   22.4    7.7
3        B   M      4        9.6        7.9    20.1   23.1    8.2
4        B   M      5        9.8        8.0    20.3   23.0    8.2
..     ...  ..    ...        ...        ...     ...    ...    ...
195      O   F     46       21.4       18.0    41.2   46.2   18.7
196      O   F     47       21.7       17.1    41.7   47.2   19.6
197      O   F     48       21.9       17.2    42.6   47.4   19.5
198      O   F     49       22.5       17.2    43.0   48.7   19.8
199      O   F     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [ ]:
# load library
import pandas as pd
# create url
url = '/content/lung_cancer_examples.csv'
# load data
ung = pd.read_csv(url)

ung.drop('Name',axis=1,inplace=True)
ung.drop('Surname',axis=1,inplace=True)
ung.drop('Result',axis=1,inplace=True)
ung

    Age  Smokes  AreaQ  Alkhol
0    35       3      5       4
1    27      20      2       5
2    30       0      5       2
3    28       0      8       1
4    68       4      5       6
5    34       0     10       0
6    58      15     10       0
7    22      12      5       2
8    45       2      6       0
9    52      18      4       5
10   33       4      8       0
11   18      10      6       3
12   25       2      5       1
13   28      20      2       8
14   34      25      4       8
15   39      18      8       1
16   42      22      3       5
17   19      12      8       0
18   62       5      4       3
19   73      10      7       6
20   55      15      1       3
21   33       8      8       1
22   22      20      6       2
23   44       5      8       1
24   77       3      2       6
25   21      20      5       3
26   37      15      6       2
27   34      12      8       0
28   55      20      1       4
29   40      20      2       7
30   36      13      5       2
31   56      20      3       3
32   47      15      1       8
33   62      25      3       4
34   26      10      7       2
35   25      20      8       2
36   59      20      3       4
37   62      15      5       5
38   33      25      8       2
39   37      10      5       3
40   50      20      2       4
41   47      12      8       0
42   69      20      5       4
43   63      20      4       5
44   39      15      7       2
45   21      20      8       3
46   31      20      9       4
47   28      10      4       1
48   53      20      6       3
49   62      20      5       6
50   42      12      6       2
51   44      30      1       6
52   26      34      1       8
53   35      20      5       1
54   26      13      6       1
55   77      20      5       4
56   75      15      3       5
57   43      30      3       8
58   51      25      9       0